.drag-area {
    border: 2px dashed #ddd;
    height: auto;
    /* permite crecer */
    overflow: visible;
    /* nada se corta */
    min-height: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.drag-area .icon {
    font-size: 100px;
    color: #000;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #5256ad;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.drag-area .preview video {
    width: 150px !important;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    /* o 'cover' si quieres recorte */
}
